<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body ng-app="tracks">
<hr/>
<div class="container" ng-controller="TrackController">
    <div class="row">
        <label>Name</label> <input type="text" ng-model="track.name" class="input-sm spacing"/>
        <label>Discription</label> <input type="text" ng-model="cars" ng-list class="input-sm custom-width spacing"
                                     placeholder="use comma to separate skills"/>
        <button ng-click="saveTrack()" class="btn btn-sm btn-info">Save Track</button>
    </div>
    <hr/>
    <div class="row">
        <p>{{tracks | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="track in allTrackss">
        <div class="">
            <h3>{{track.name}}</h3>
            <span ng-repeat="skill in track.cars" class="spacing">{{track.lenght}}</span>
        </div>
    </div>
</div>
</body>
<script src="../js/lib/angular.min.js"></script>
<script src="../js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="../js/app/app.js"></script>
<script src="../js/app/TrackController.js"></script>
<script src="../js/app/TrackService.js"></script>
<link rel="stylesheet" href="../css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/app/app.css"/>
</html>